<button (click)="hidden = !hidden">{{hidden ? 'Show' : 'Hide'}} Ingredients</button>
<span class="version">Version 0.0.1</span>
<form *ngIf="!hidden">
  <div class="flex-wrapper">
    <div *ngFor="let item of ingredients" class="wrapper-item">
      <app-ingredient [item]="item"></app-ingredient>
      <input [name]="item.key" type="number" class="ingredient-input" (input)="updateLocalStorage($event.target)" [(ngModel)]="ingredientCount[item.key]">
    </div>
  </div>
</form>
<hr>
<div *ngFor="let item of potions" class="potion-list">
  <app-potion [potion]="item" [vault]="ingredientCount"></app-potion>
</div>
