mat-sidenav-container {
  height: 100vh;
}
mat-expansion-panel {
  margin-top: 10px !important;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.potion-list {
  height: 52px;
}
.version {
  font-size: small;
}
.ingredient-toss-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.text-bold {
  font-weight: bold;
}
.strikethrough {
  text-decoration: line-through;
}
